name: Go

on:
  push:
    branches: [ main ]
 
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0

    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.17

    - name: Test
      run: go test -v ./...

    - name: Lint source code
      run: |
        make tools lint
        rm -rf .bin

    - name: Create release tag
      run: |
        git tag "v$(git show -s --format=%cd --date=format:%Y%m%d.%H%M%S)"
        git push --tags

    - name: Release binaries with GoReleaser
      uses: goreleaser/goreleaser-action@v2
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        args: release --rm-dist
